doctype html
html
  head
    title Abkar Learning Tool
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600")
    if(lang==='ar')
        link(rel="stylesheet" href="/stylesheets/style-ar.css")
    else
        link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block content